div.blocks {

    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;

    .block {
        border-radius: 4px;
        margin-bottom: 5px;
        padding: 5px;
        color: #FBFAF5;
        background-color: $primary-color-1;

        p {
            font-size: 16px;
        }
    }
}
