
div.box {
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: $mix-pc1-pc2;
    border-color: $primary-color-2;
    color: $primary-color-1;
    color: white;
    width: -webkit-fill-available;

    hr {
        border-color: $primary-color-1;
        border-color: white;
    }


    .box-head {
        padding-top: 20px;
        display: grid;
        align-items: top;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $mix-pc1-pc2;
    
        .box-title {
            grid-row: 1;
            font-weight: 700;
            color: $primary-color-1;
            color: #ffc290;
        }

        .scroll {
            grid-row: 1;
        }

        hr {
            margin-bottom: 14px;
            grid-column: 1/3;
        }

    }

    &:nth-child(2n) {
        background-color: $mix-pc1-pc2;
        color: white;

        hr {
            border-color: white;

        }

        .card {
            background-color: $primary-color-2;   

        }
    }

    &:nth-child(2n+1) {

        .card {
            background-color: $primary-color-1;

        }

    }

    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    }

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}



