
div.cards {
    
    .card {
        border-radius: 4px;
        margin-bottom: 5px;
        padding: 5px;
        color: #FBFAF5;

        .card-title {
            font-weight: 700;
        }
    }
    
}


