
div.contact-me {
    height: 199px;
    width: -webkit-fill-available;

    
    .socials {

        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;
        justify-content: space-around;
        padding: 20px;
        padding-bottom: 0;

        .social {
            display: grid;
            align-items: center;
            justify-items: center;

            .icon {
                background-color: $primary-color-1;
                padding: 10px;
                font-size: 35px;
                border: 1px solid $primary-color-1;
                border-radius: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 700;
                padding-top: 10px;
            }
        }
    }

}


