section.profile {
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        border: 8px solid white;
        border-radius: 50%;
        width: 21%;
    }

    
    h5 {
        color: white;
    }
    
    h1 {
        margin-top: 10px;
        color: $primary-color-1;
    }

}
